* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #000;
    color: #fff;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #1f1f1f;
    width: 332px;
    height: 450px;
    margin: 70px 0;
    text-align: center;
    padding: 15px 10px;
    border-radius: 10px;
}

@media (max-width: 575.98px) {
    main {
        height: unset;
    }

    .container {
        padding: 10px 0;
    }

    a {
        width: 300px;
    }
}

.img-ring {
    width: 70px;
    margin: 0 auto;
}

img {
    border-radius: 50%;
}

.btn-group {
    margin: 20px 0;
}

a {
    width: 250px;
    display: inline-block;
    padding: 10px 15px;
    background-color: #333;
    color: #fff;
    margin: 5px 0;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

a:hover {
    background-color: #b6d834;
}